.order-section {
  position: relative;
  display: flex;
  border-bottom: 1px solid @border-color;

  .order-summary.left {
    padding: 28px 0px 0px 38px;
    position: relative;
    width: 70%;
    flex-grow: 100;
    display: flex;
    h3.order-title {
      .title
    }
    table {
      width: 80%;
      padding: 53px 0 0 35px;
      text-align: left;
      top: 53px;
      left: 35px;
      position: relative;
      align-items: space-between;
      tr { 
        width: 100%;  
        display: flex;
        align-items: space-between;
        th {
          letter-spacing: 0.08em;
          .text-upper-bold-13;
          width: 21%;
        }
        td {
          padding-top: 11px;
          font-size: 13px;
          width: 21%;
        }
      }
    }
    .actions-right {
      width: 30%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 30px;
      
      .button {
        min-width: 180px;
        margin-bottom: 10px;
        font-size: 12px;
        letter-spacing: 0.08em;
      }

    }
    border-right: 1px solid @border-color;
  }
  
  .address.right {
    padding: 28px 0 0 38px;
    width: 30%;
    p {
      letter-spacing: 0.02em;
      line-height: 1.5;
    }
    h3.section-title {
      .title;
      font-size: 0.8em;
      letter-spacing: 0.01em;
    }
    address {
      padding: 30px;
      font-size: 12px;
      a {
        display: inline-block;
        padding-top: 13px;
        font-size: 14px;
        text-decoration: none;
        color: @font-color;
        margin-right: 15px;
        font-weight: 500;
        &:hover {
          color: darken(@font-color, 10%);
        }
        &:active {
          color: darken(@font-color, 20%);
        }
      }
    }
  }
}

